extends layouts/master

include mixins/mixins

block variables
    - var title = "Главная";
    - var description = "Lorem10";

block content
    +card("https://palladi.ru/upload/iblock/92a/92a4c80a6cb802f38ac3a7fb3ea82d29.jpg", "Bueno","Sueno", 80)
    +card("https://palladi.ru/upload/iblock/92a/92a4c80a6cb802f38ac3a7fb3ea82d29.jpg", "Bueno","Sueno", 80)
