extends layouts/master

include mixins/mixins

block variables
    - var title = "Главнffая";
    - var description = "Lorem10";
    - var currentURL = "index.html";

block content
    input(
        type="text"
        placeholder="Name"
        required="required"
        ).input__class
    main.main 
        section.section 
            p. 
                Lorem, ipsum  <b>dolor</b> sit amet 
                consectetur #[em adipisicing] elit. Esse, explicabo?
            a.link__class(href="#" target="_blank" rel="nofollow") Link

